.App {
	height: 100%;
	min-height: 100%;
	background-color: #000;
	/* padding: 1%; */
	display: flex;
	/* justify-content: center; */
	align-content: space-between;
	align-items: center;
	flex-direction: column
}

.buttons-wrapper-top {
	width: 60%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	/* justify-content: stretch;	 */
	align-items: flex-start;
}



.mode {
	grid-column: 1/2;
	grid-row: 1/2;
	display: flex;
}

main {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 0px 8% auto;
	/* column-gap: 1%; */
	height: 100%;
	max-height: 646px;
	min-width: 60%;
	/* max-width: 1366; */
	background-color: #fff;
	padding: 1%;
	border-radius: 10px;
}

.ticket-bar {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto auto;

}

.ticket-title {
	grid-row-start: 1;
	grid-row-end: 2;
	align-items: center;
	display: flex;
	list-style: none;
	align-items: center;
	align-content: center;

}


.game-ids {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	color: #000;
	text-align: center;
	font-size: 20px;
	padding-right: 5%;
	
	display: flex;
	justify-content:end;
	flex-direction: row;
	align-items: center;	
	align-content: flex-end;
}

.game-ids-select {
	/* padding: 20px; */
	

	list-style: none;
	background-color: hsl(231, 100%, 97%);
	color: #000;
	border-radius: 12px;
	border-color: white;
	text-align: center;
	font-size: 20px;
}


h1 {

	font-family: 'Andika New Basic', sans-serif;
	text-transform: uppercase;
	color: #fff;
	display: flex;
	align-items: center;
	padding: 0 5%;
}

h1 svg {
	margin-right: 10px;
}

.ticket-lotto {
	background-color: #260085;

}

.Results-lotto {
	background-color: #209869;
}

.About-lotto {
	background-color: #930089;
}

.Connect-lotto {
	background-color: #f78100;
}

.card {
	grid-column: 1/2;
	grid-row: 3/4;
	display: flex;
	flex-direction: column;
}

.game-card {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 10px;
	background-color: #d7edff;
	flex: 1;
	align-items: center;
	padding: 10px;
}

.About-card {
	grid-template-columns: repeat(5, 1fr);
}

.card-number {
	border: 1px solid rgb(20, 20, 20);
	color: rgb(20, 20, 20);
	border-radius: 5px;
	cursor: pointer;
	max-height: 50px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.number-selected {
	color: #fff;
}

.results {
	grid-column: 2/3;
	grid-row: 1/-1;
	overflow: auto;

}

.numbers-area {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	row-gap: 10px;
	column-gap: 5px;
}

.numbers-area>div {
	background-color: #e0f1ff;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: default;
}

#ticketNumbers,
#results #matches {
	margin-top: 5%;
	margin-bottom: 5%;
}

/* #matches {
	background-color: red;
} */

#ticketNumbers>div>div {
	position: absolute;
	cursor: pointer;
	top: -4px;
	right: -2px;
	border: 1px solid tomato;
	border-radius: 50%;
	width: 14px;
	height: 14px;
	background-color: #fff;
	display: none;
}

#ticketNumbers>div:hover>div {
	display: flex;
	justify-content: center;
	align-items: center;
}


#buttons-wrapper {
	display: flex;
	justify-content: space-around;
}



.draw-block-div {
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.draw-block-paragraph {
	margin: 1%;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
}

.draw-block-paragraph b {
	font-weight: bold;
}



@media screen and (max-width: 767px) {
	.App {
		height: auto;
		align-items: unset;
	}

	main {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr auto;
		max-width: 100%;
		max-height: 100%;
		min-height: 100%;
		height: auto;
	}

	.mode {
		flex-wrap: wrap;
	}

	.game-card {
		grid-template-columns: repeat(5, 1fr);
	}

	.card-number {
		height: 50px;
	}

	.results {
		grid-column: 1/2;
		grid-row: 4/5;
		overflow: initial;
	}
}